.rti--container {
  margin: 0.5rem 0 !important;
  padding: 0.3rem !important;
  border: 1px solid gray !important;
  border-radius: 5px !important;
}

.rti--tag {
  margin: 5px !important;
}

.rti--tag span {
  background-color: rgb(238, 238, 238) !important;
  padding: 1px 3px !important;
  border-radius: 5px !important;
}

.rti--tag button {
  color: white !important;
  background-color: rgb(255, 135, 135) !important;
  padding: 0 3px !important;
  border-radius: 3px !important;
}

.rti--tag button:hover {
  background-color: red !important;
}

.rti--input {
  margin: 5px 10px !important;
  padding: 5px !important;
  background-color: rgb(243, 243, 243) !important;
  border-radius: 5px !important;
}
